* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.AppContainer {
  padding-top: 5vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.padWrapper {
  max-width: 100vw;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pad {
  max-width: 200px;
  max-height: 400px;
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
}

.green {
  background-color: #04c404;
  opacity: 0.3;
}

.red {
  background-color: #ff0000;
  opacity: 0.3;
}

.yellow {
  background-color: #ffff00;
  opacity: 0.3;
}

.blue {
  background-color: #0000ff;
  opacity: 0.3;
}

.flash {
  opacity: 1.0;
}

.startButton {
  width: 50vw;
  height: 50px;
  border: none;
  border-radius: 10px;

  font-size: calc(20px + 2vmin);
  font-weight: 500;
  cursor: pointer;
}

.score {
  font-size: calc(20px + 2vmin);
  font-weight: 500;
}

.lost {
  position: absolute;
  top: 35%;
  width: 50vw;
  height: 40vh;
  background-color: #101114;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.lost button {
  width: 50%;
  height: 10vh;
  border: none;
  border-radius: 10px;

  font-family: "Ubuntu", sans-serif;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  cursor: pointer;
}

.footer {
  padding: 20px;
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.contributors {
  font-size: calc(10px + 2vmin);
}

.footer nav {
  padding: 15px;
  display: flex;
  gap: 25px;
}

a {
  color: #61dafb;
  font-size: calc(5px + 2vmin);
}


@media (max-width: 720px) {
  .pad {
    width: 30vw;
    height: 20vh;
  }
  
  .padWrapper {
    width: 85vw;
    flex-wrap: wrap;
    gap: 10px;
  }

  .lost {
    top: 30%;
    width: 50vw;
    height: 30vh;
  }

  .lost button {
    height: 5vh;
  }

  .AppContainer {
    min-height: 100vh;
  }
}

@media (max-width: 400px) {
  .pad {
    width: 40vw;
    height: 20vh;
  }

  .padWrapper {
    width: 100vw;
    flex-wrap: wrap;
  }

  .lost {
    width: 70vw;
    
  }

  .lost button {
    height: 7vh;
  }
}
